<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <p1>wahab is an data scientist and a web developer and the games engineer</p1>
    <footer><h4>{{> home}}{{getyear}}</h4></footer>
  </body>
</html>
