<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <h1>welcome</h1>
    <h1>ch wahab    </h1>
    <p1>wahab is an data scientist and a web developer and the games engineer</p1>
  <footer><h4>{{> home}}</h4></footer>
  </body>
</html>
